*.png
!1300-light-1-3-tap.png
!1300-light-12-3-tap.png
!1300-light-2-4-after.png
!1300-light-3-2-pointer.png
!1300-light-4-2-pointer.png
!1300-light-5-a-arrive.png
!390-light-1-1-rest.png
!1300-dark-1-3-tap.png
